<!DOCTYPE html>
<html>
<head>
  <title>Stackoverflow</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<p id="notice"><%= notice %></p>
<p id="alert"><%= alert %></p>
<div><%= render 'search/form' %></div>

<%= yield %>

<br/><br/>
<div><%= link_to t('question.action.index'), questions_path %></div>

<div><%=
  if user_signed_in?
    link_to 'log out', destroy_user_session_path, method: :delete
  else
    link_to 'log in', new_user_session_path, method: :get
  end
%></div>
</body>
</html>
